body {font-family: broadway;
      align-content: center;
      align-items: center;
     }

div {align-items: center;
     justify-content: center;
    display: flex;}

img {width: 300px;
     height: auto;}

.p {font-size: 70px;
    text-align: center;
    color: red;}

.p1 {font-size: 30px;
    text-align: center;}

